<h1>Cadastrar Vídeo</h1>

<form action="/videos" method="POST">

    <input type="text" name="titulo" placeholder="Título"><br><br>

    <input type="text" name="criador" placeholder="Criador"><br><br>

    <textarea name="descricao" placeholder="Descrição"></textarea><br><br>

    <input type="number" name="visualizacoes" placeholder="Visualizações"><br><br>

    <input type="number" name="curtidas" placeholder="Curtidas"><br><br>

    <input type="text" name="hashtag" placeholder="#hashtag"><br><br>

    <input type="text" name="urlVideo" placeholder="URL do vídeo"><br><br>

    <input type="text" name="thumbnail" placeholder="URL da thumbnail"><br><br>

    <button type="submit">Cadastrar</button>

</form>